
<div class="flexbox mb-20">
  <div class="lookup">
    <input class="w-200px" type="text" name="s" placeholder="Search">
  </div>

  <div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
      <button class="btn" title="Refresh" data-provide="tooltip"><i class="ion-refresh"></i></button>
      <button class="btn" title="Add new" data-provide="tooltip"><i class="ion-plus-round"></i></button>
    </div>

    <div class="btn-group btn-group-sm ml-2 d-none d-sm-flex">
      <button class="btn dropdown-toggle" data-toggle="dropdown">ByName</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="tables.html#">CSV</a>
        <a class="dropdown-item" href="tables.html#">SQL</a>
        <a class="dropdown-item" href="tables.html#">PDF</a>
        <a class="dropdown-item" href="tables.html#">Text</a>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">PickUp date</th>
        <th scope="col">return Date</th>
        <th scope="col">Device</th>
        <th scope="col">Customer</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    
    <tbody>
      
      <tr>
        
        
        <td>2020/08/18</td>
        <td>2021/04/02</td>
        <td>Confort Familly House</td>
        <td>Mohamed Ali May</td>
        <td class="text-right table-actions">
          <a class="table-action hover-primary" href="tables.html#"><i class="ti-pencil"></i></a>
          <a class="table-action hover-danger" href="tables.html#"><i class="ti-trash"></i></a>
          
        </td>
      
   
      </tr>
      <tr>
        
        
        <td>2021/09/01</td>
        <td>2021/09/02</td>
        <td>
          New Black E-bike</td>
        <td>Samih Sboui</td>
        <td class="text-right table-actions">
          <a class="table-action hover-primary" href="tables.html#"><i class="ti-pencil"></i></a>
          <a class="table-action hover-danger" href="tables.html#"><i class="ti-trash"></i></a>
          
        </td>
      
   
      </tr>
      <tr>
        
        
        <td>2021/06/18</td>
        <td>2021/06/20</td>
        <td>Bajaj Chetak</td>
        <td>Hamza Ouertani</td>
        <td class="text-right table-actions">
          <a class="table-action hover-primary" href="tables.html#"><i class="ti-pencil"></i></a>
          <a class="table-action hover-danger" href="tables.html#"><i class="ti-trash"></i></a>
          
        </td>
      
   
      </tr>
      <tr>
        
        
        <td>2020/08/18</td>
        <td>2021/04/02</td>
        <td>Small Studio</td>
        <td>Ahmed Hmayer</td>
        
          <td class="text-right table-actions">
            <a class="table-action hover-primary" href="tables.html#"><i class="ti-pencil"></i></a>
            <a class="table-action hover-danger" href="tables.html#"><i class="ti-trash"></i></a>
            
          </td>
        
      
  
      
   
      </tr>
     
      
    </tbody>
  </table>

 