
  <body class="min-h-fullscreen bg-img center-vh p-20" style="background-image: url(../assets/img//avatar/djomarket.jpg);" data-overlay="7">

    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
      <h5 class="text-uppercase">Récupérer mot de passe</h5>
      <br>

      <form class="form-type-material">
        <div class="form-group">
          <input type="text" class="form-control" id="email">
          <label for="email">
            Adresse e-mail</label>
        </div>

        <br>
        <button class="btn btn-bold btn-block btn-primary" type="submit">Réinitialiser</button>
      </form>
    </div>
    <script src="../../../../assets/js/core.min.js"></script>
    <script src="../../../../assets/js/app.min.js"></script>
    <script src="../../../../assets/js/script.min.js"></script>